[2019-04-27 14:28] mjarkk opened #3 "Add the missing suggestions from the community page"
The suggestions: https://github.com/awesome-gocui/gocui/community

[2019-04-27 17:53] glvr182 commented on #3
- [ ] Description
- [ ] Readme
- [ ] Code of conduct
- [ ] Contributing guide
- [ ] License
- [ ] Issue templates
- [ ] Pull request templates

[2019-04-27 18:49] glvr182 opened #1 "Add community documents"
- [x] Description
- [x] Readme
- [x] Code of conduct
- [x] Contributing guide
- [x] License
- [x] Issue templates
- [x] Pull request templates

[2019-04-27 19:15] glvr182 commented on #1
Ill get started on the issue / pr templates
Will create a fork an create a pr

[2019-04-27 19:24] mjarkk opened #4 "Rename all refrences to jroimartin to awesome-gocui"
I'll create a branch and rename everything in there,

[2019-04-27 19:37] mjarkk commented on #4
This is now fixed.

[2019-04-27 19:37] #4 closed, assigned to mjarkk

[2019-04-27 19:47] mjarkk opened #7 "Mergin jesseduffield/gocui"
**Describe the feature you'd like**
Have jesseduffield/gocui (master) get merged into this fork
jesseduffield has made some good changes to gocui so his work in gocui would be a nice adition

**Additional context**
On the old pr where some important comments: https://github.com/awesome-gocui/gocui-old/pull/2

[2019-04-27 19:52] glvr182 commented on #1
Writing the contributors guide now

[2019-04-27 20:14] #1 closed, assigned to nobody

[2019-04-27 20:18] glvr182 opened #10 "Adding tabs"
**Describe the feature you'd like**
Sometime there is just not enough room in the terminal, or two views are
closely related. This calls for a new thing called a "tab". Just like with your browser, a tab holds different information but does not require you to start up a new window.

**Describe alternatives you've considered**
Manual tabbing, but it is a pain for the developer to create this each a

[2019-04-27 20:18] mjarkk opened #5 "Delete this repo"
Because all changes from this repo are now in gocui this repo can be removed

[2019-04-27 21:01] mjarkk commented on #10
The idea of tabs is amazing thought `─Tab one / Tab two─` looks a bit off to me.
I'm also wondering how this would look on small screens when having more than 2 tabs: `─Tab one/T/T/T─`.

[2019-04-27 21:04] glvr182 commented on #10
Agreed, I still have to find a good way of displaying tabs. This was my first thought. I think when terminals are too small to display a title we should cut it per tab. So lets say it is first `First / Second` it would go to
   `F / S`

[2019-04-27 21:10] glvr182 opened #11 "Adding Go module support"
**Describe the feature you'd like**
For building the examples and for shipping, we should add the go mod files. (without vendor)

**Describe alternatives you've considered**
/
**Additional context**
After #8

[2019-04-27 21:11] glvr182 opened #12 "Documentation update"
**Describe the feature you'd like**
Some parts of the code are not yet codumentated. We should add documentation to everything.

**Describe alternatives you've considered**
/
**Additional context**
After #8

[2019-04-27 21:47] glvr182 opened #13 "Build & Testing automation"
**Describe the feature you'd like**
As with any project, testing gocui is important. We should set up tools like circle-ci and codecov to automaticly check some things.

**Describe alternatives you've considered**
Testing manually. This is too much work with too many points where it can go wrong.

**Additional context**
/

[2019-04-28 07:37] skanehira opened #15 "Improve get terminal window size in the docker container"
**Describe the feature you'd like**
The current gocui dosn't work in the docker container's endpoint because the termbox cannot get terminal window size when run the container.

**Describe alternatives you've considered**
Improve get terminal window size like as follows.
When we use the container must to be wait SIGWINCH.

https://github.com/skanehira/docui/commit/aa1739a8f9a1d5284239021691631fca0

[2019-04-28 07:44] skanehira opened #16 "Add some compoments"
**Describe the feature you'd like**
I want to add some components into gocui to create modal, form, etc easily

**Describe alternatives you've considered**
I made the components.
How about merging this into gocui?
https://github.com/skanehira/gocui-component

[2019-04-28 07:57] mjarkk commented on #16
I think we need to hold the base library minimal, thought the current state of gocui is extremely minimal and some UI helpers / components would be a nice addition.

I'm oke with merging gocui-component into gocui.

[2019-04-28 08:12] mjarkk commented on #15
I think this library should work everywhere where it can so also in a docker container's endpoint.
This is probably better to change in GoCui because Termbox seems to me like a bear bones library just to get some UI in the terminal.

[2019-04-28 08:19] mjarkk opened #17 "information about this fork"
**Describe the feature you'd like**
In the readme or in docs add a section about this fork with information about why we forked it and a number of important changes this fork has compared to jromartin's

**Describe alternatives you've considered**
/

**Additional context**
In general it would be nice to have better documentation, related to (#12).

[2019-04-28 10:25] glvr182 commented on #17
Agreed, this can also be linked to more examples and maybe more features #16

[2019-04-28 10:26] glvr182 commented on #16
Agreed, keeping the library small is important, but i think adding @skanehira 's components would have more pros than cons

[2019-04-28 10:35] glvr182 commented on #15
I back this feature. I think it would be best to do this in gocui since.

[2019-04-28 18:43] mjarkk opened #19 "Easier UI"
**Describe the feature you'd like**
A easier way to generate UI,
Currently everything needs to be set with fixed position but it's quite a bit of work to implement this in a new app when having a advanced UI.

I personally like the CSS grid layout for creating UIs and i think the underlying idea of grid layouts fits GoCui really well because the base concept is really easy and it's made for not ne

[2019-04-28 19:48] glvr182 commented on #19
Interesting suggestion, how would the user create such a grid? Would they first 'cut' the ui in certain blocks, or is there a different mechanism?

[2019-04-28 19:51] glvr182 opened #20 "Icon"
**Describe the feature you'd like**
To make Gocui a truly amazing project, we need an icon. If anyone knows a graphics designer who would do this for an opensource project (to have another piece of art added to their portfolio), please do let us know.

**Describe alternatives you've considered**
Making it myself but I am absolutely terrible with graphics.

**Additional context**
/

[2019-04-28 20:41] mjarkk commented on #20
This is also already noted in the about repo,
I’m not a active illustrator/photoshop user but I do know how to make a decent logo. I can give it a try and see how far I come

[2019-04-29 01:20] skanehira commented on #19
Like the tview grid?
https://github.com/rivo/tview/tree/master/demos/grid

[2019-04-29 06:03] mjarkk commented on #12
#8 is now merged in

[2019-04-29 06:20] mjarkk commented on #19
@glvr182 I think a user would first need to define there views and init the grid.
After that they need to define where the components are, this can be always changed.

@skanehira Something like that but not the same.

I'm imagine something like this:
[code]

[2019-04-29 23:22] skanehira commented on #15
Merged  #18

[2019-04-29 23:22] #15 closed, assigned to nobody

[2019-04-30 05:58] glvr182 commented on #7
Done as of #8

[2019-04-30 05:59] #7 closed, assigned to mjarkk

[2019-04-30 11:53] skanehira opened #22 "[BUG] Can not input multibyte properly"
**Describe the bug**
Put the cursor on the alphabet and input multi-byte it's not inserted correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. run _example/demo.go
2. input or paste  multibyte like `ゴリラ`

**Expected behavior**
Multi-byte can be inserted correctly.

**Screenshots**
![bug-gocui](https://user-images.githubusercontent.com/7888591/56959259-cae0d500-6b87-11e9-9147-2525cc958

[2019-04-30 12:05] mjarkk commented on #22
This is also an issue in titles: https://github.com/jroimartin/gocui/issues/157 and https://github.com/jroimartin/gocui/issues/134

[2019-04-30 18:01] mjarkk commented on #20
I've created this logo, ([@awesome-gocui/about/logo](https://github.com/awesome-gocui/about/blob/master/logo/logo.png))
![logo](https://github.com/awesome-gocui/about/blob/master/logo/logo.png?raw=true "logo")

[2019-04-30 19:31] #11 closed, assigned to glvr182

[2019-05-01 10:51] skanehira commented on #22
When multi-byte inserted then width of string will checked by`runewidth.RuneWidth`.
It's seems like good work but I don't know cause this bug occured...

I'll read more code and fix this.

https://github.com/awesome-gocui/gocui/blob/master/edit.go#L61

[2019-05-01 15:50] glvr182 commented on #20
Looks awesome! I say we put this one in @awesome-gocui/about

[2019-05-01 17:48] mjarkk commented on #20
Dune, it's now in the about readme

[2019-05-09 08:20] mjarkk commented on #19
I'm going to wait with making this because i'm not happy yet with my thoughts about the "grid layout".
I'll think about this a bit more and see if i can come up with something better.

[2019-05-19 11:45] glvr182 commented on #20
Closing this since it has been implemented

[2019-05-19 11:45] #20 closed, assigned to nobody

[2019-05-28 18:36] #13 closed, assigned to nobody

[2019-05-31 10:21] Syleron commented on #16
do we not feel that these components are considered essential to any "minimalistic" UI framework?

[2019-06-25 08:29] mjarkk commented on #17
This issue can be closed when #26 is merged in

[2019-06-26 06:17] mjarkk commented on #17
#26 is now merged in closing this issue

[2019-06-26 06:17] #17 closed, assigned to mjarkk

[2019-07-15 13:21] glvr182 commented on #22
See the following [issue](https://github.com/jroimartin/gocui/issues/203).

[2019-07-15 16:27] MichaelMure commented on #19
As the author of git-bug, which use gocui, I also struggled with this problem. I thought about a different solution: https://github.com/jroimartin/gocui/issues/162

[2019-07-16 07:46] vladkras commented on #10
Or maybe
```┌─| First | Second |──```

```┌─ First | Second ──```

[2019-07-18 08:20] A-UNDERSCORE-D opened #30 "Maxlines option on views"
**Describe the feature you'd like**
The ability to clear out the internal buffers either up to the point that the data is being displayed again, or to some arbitrary point provided in the constructor.

There was an issue for something like this on the original repo: https://github.com/jroimartin/gocui/issues/103 and an associated PR: https://github.com/jroimartin/gocui/pull/104

**Describe alterna

[2019-07-23 13:02] EldoranDev opened #31 "Can not run Example in Docker [BUG]"
**Describe the bug**
When running the example in Docker it crashes with the error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Compile readme example in docker container
2. Run docker-container

**Expected behavior**
Running example

**Environment (please complete the following information):**
 - OS: Linux, Pop!Os 19.04
 - Docker version 19.03.0

**Additional context**
File compil

[2019-07-23 15:01] glvr182 commented on #30
I agree that using reflect this much would be unwise, I am not really sure how to go about this after checking the linked issue and PR, linking @jesseduffield @skanehira @mjarkk for feedback

[2019-07-26 07:44] mjarkk commented on #30
Agree!
Your solutions seems way to complected *(but necessary to get it working)*.
From the original issue this seems like something more users have so i think it's a good idea to add support for this.

[2019-07-26 07:55] mjarkk commented on #10
@vladkras I think it's a bad idea to use `|` because it's the same character as the box frame.
I think this could be confusing when the terminal gets too small or overlap because the `|` might look like a border.

[2019-07-26 08:09] mjarkk commented on #19
@MichaelMure i agree with the idea of child views, they could fix so much things so easily.

But should we extend that idea with "fake views" or "view groups" because there are some situations where you want to group views but they don't necessary have a parent view.

For example it would be great if it's possible to separate the popups from the main views with data, that way it's safer, "easier"

[2019-07-26 12:12] MichaelMure commented on #19
I think that child views are the building block that make it fairly easy to implement more complex UI concept, be it grids, view groups, popup ..

You could start by implementing the child views and see how people use them. Once it become clearer what is actually useful, that can me merged into gocui.

[2019-07-26 12:35] mjarkk commented on #19
Agree, that looks like good starting point for better view management.
@skanehira or @glvr182 do you also agree with adding support for child views?

[2019-07-28 16:28] glvr182 commented on #19
I like the idea, i'm just worried about making gocui too complex. The describtion of gocui says "minimalistic" but i fear by adding these features it will not be just that anymore. What do you guys think

[2019-07-28 16:34] glvr182 commented on #31
Hi thank you for submitting this bug. The example in the readme is a bit behind the _examples folder, I shall look at that, in the mean time you might be able to solve this bug by running one from the _examples folder

[2019-07-28 18:23] mjarkk commented on #19
That's a good point.
This indeed adds a lot of complexity to gocui what might make it simpler but breaks the minimalistic rule.

I think it comes down to what we see as minimalistic, a small code base or does the api needs to be minimalistic.

If we see it as a small code base then this would be a bad idea to add in gocui.
But if we look at the api (as in the amount of exposed functions etc) this

[2019-07-28 21:17] MichaelMure commented on #19
A few things:
- first thing first, you are not limited by the current definition of the project, you can choose what you think make sense regardless
- the minimalism of gocui for me is the focus on providing the tools to build a UI, rather than providing every kind of widget possible. Child views very much fit in that definition
- I believe the changes needed to implement the child view would be f

[2019-07-28 21:25] glvr182 commented on #19
Those are good points, count me in on this.

I would however like to see @jesseduffield 's code merged into this repo first. So i will first focus on that.

Would you like to do the initial if not full implementation of this?

Ofcourse if any other maintainer disagrees with the idea of child views we would have to solve that discussion first

[2019-07-29 06:09] EldoranDev commented on #31
Running demo.go from _example results in the same error.

[code]

looks like its related to some channel stuff:

[code]

[2019-08-14 10:36] skanehira commented on #31
@EldoranDev Sorry, I'm late.
Can you let me know Go's version ?

[2019-08-15 06:46] EldoranDev commented on #31
I used the following image:

`golang:latest / golang:1.12.8`

So it should be go version `1.12.8`

[2019-08-15 10:00] skanehira commented on #31
@EldoranDev Thank you :)
How did you run _example/demo.go ?
like this?

[code]

[2019-08-15 12:05] EldoranDev commented on #31
[code]

[2019-08-26 16:47] josharian opened #33 "FYI: gocui triggers a bug in Go 1.13 (pre-release)"
This is a heads up that gocui appears to trigger a bug in Go 1.13 (at least rc1), so if folks come to this repo and complain about crashes, you'll know what's happening.

The issue is reported upstream at https://github.com/golang/go/issues/33841.

Feel free to close this issue any time once you've seen it.

[2019-08-26 17:11] mjarkk commented on #33
Thanks for taking the time making the issue, ~~we will take note of that~~.

~~I’ll leaf this issue open till the bug is fixed unless others think this can be closed.~~

[2019-08-26 18:04] randall77 commented on #33
I think this is a bug in gocui. In gui.go, you do:
[code]
But the manpage for `ioctl` says the structure should be:
[code]
The kernel is actually writing to those unused fields, which clobbers a random stack slot next to the `sz` variable.  Adding 4 bytes of padding to the `sz` struct will fix the issue.

The stack layout of the `getTermWindowSize` method changed from 1.12 to 1.13, which is why we

[2019-08-27 09:54] #33 closed, assigned to nobody

[2019-08-27 16:08] josharian opened #37 "Release v0.5.1"
Thanks for the speedy review of #36 (for #33)! May I request that you add a new tag/released version so that folks like me using 1.13 can pick up the bug fix without a replace directive in our go.mod? Thanks!

[2019-08-27 16:41] glvr182 commented on #37
@josharian You're right, it is time for a new release. I shall however release v0.6.0 since there are lots of other improvements aside from this fix.

[2019-08-27 16:48] glvr182 commented on #37
You can checkout version v0.6.0 now! Let me know how it goes!

[2019-08-27 16:48] #37 closed, assigned to nobody

[2019-08-27 20:08] josharian commented on #37
Thanks!

[2019-09-13 00:43] skanehira commented on #31
It did not reproduce on the Mac.
I think it may be a problem with the OS.
I'll continue to investigate.

----
procedure
[code]

Dockerfile
[code]

[2019-09-13 01:03] skanehira commented on #31
@EldoranDev does the same panic happen with other samples?

[2019-09-18 08:21] EldoranDev commented on #31
Okay, I do not know why. But I can not reproduce this as well.

So sorry for wasting your time, seems like a `can't reproduce` issue to me.

[2019-09-18 08:21] #31 closed, assigned to skanehira

[2019-09-22 19:15] glvr182 commented on #31
No problem, thanks for the update!

[2019-09-22 19:18] glvr182 commented on #22
Also saw that termbox had an update, see [this ](https://github.com/nsf/termbox-go/commit/92e767c2269e7fcdacdd279c67adb83509a8c0fa) commit

[2019-09-27 14:57] glvr182 opened #42 "Migrating to a different underlying library"
Just gonna throw it out here, Termbox-Go is no longer maintained by NSF as we probably all know.
This made me wonder if it might be time for us to switch to a different library.

For example TCell. In #41 we discussed briefly about the Shift-Enter problem and how we could fix this. This keybind would be possible with TCell.

Hope to get feedback on this thought

[2019-09-27 18:31] mjarkk commented on #42
To further improve this fork this would be a welcome change for a lot of end user i think because we are stopped now by a lot of limitations of termbox,

Beside that if we have a better and maintained tui library under our fork means that we are further prove but on the other hand we might change the core functionality so much that it won't be gocui anymore.

If the core functionality changes only

[2019-10-02 12:25] hgtok opened #43 "[BUG] MinGW compatibility"
**Describe the bug**
Unable to render UI when running in a MinGW environment

**To Reproduce**
* git-bug
  `git bug user create`
  `git bug termui`
![image](https://user-images.githubusercontent.com/11731575/65929633-6fb45680-e435-11e9-882d-5b5a6a072c2a.png)
also see https://github.com/MichaelMure/git-bug/issues/222

* jsonui
`cat test.json | ./jsonui_windows_amd64.exe`
![image](https://user-image

[2019-10-03 07:48] mjarkk commented on #43
I don't think we can make this possible in the current state of gocui due to the underlying library Termbox-Go,

But... [we are thinking about moving to another underlying library](https://github.com/awesome-gocui/gocui/issues/42) to be more further prove because Termbox-Go in not maintained and we have a lot of other small issues that are not solvable due to the use of Termbox-Go.
I can't say if

[2019-10-04 02:28] hgtok commented on #43
Found a workaround for git-bug: `winpty git bug termui`

But not sure what is the correct syntax for it to work in jsonui due to stdin piping
Tried `cat test.json | winpty -Xallow-non-tty ./jsonui_windows_amd64.exe` which resulted in
[code]

[2019-10-04 06:50] mjarkk commented on #43
Ya that's a winpty [bug](https://github.com/rprichard/winpty/issues/93)
Due to the age of the issue this seems like something that won't be fixed very soon.

[2019-10-09 13:09] Rudi9719 opened #44 "[BUG] Exits on Open"
**Describe the bug**
After converting from jroimartin/gocui to awesome-gocui (adding params to g.NewGui(), and g.SetView()) my projectnow exits cleanly upon opening rather than starting the main loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile project
2. Start Project

**Expected behavior**
TUI with 4 views should appear, and populate with text as they did with jroimartin/gocui

[2019-10-09 14:16] mjarkk commented on #44
Thanks for creating the issue,
i'll look into your project later today and see if we can fix your issue.

[2019-10-09 18:14] mjarkk commented on #44
I've looked into your code and found the problem.
We do the unknown view check a bit different than the original repo, in your layout function change these checks:
[code]
This this behavior can also be found in the example projects: [_examples/layout.go#L15](https://github.com/awesome-gocui/gocui/blob/master/_examples/layout.go#L15)

[2019-10-09 18:21] mjarkk commented on #44
I've created a pr in your repo to fix the problem: https://github.com/Rudi9719/kbtui/pull/1

[2019-10-09 19:01] Rudi9719 commented on #44
Thanks! Merged in

[2019-10-09 19:01] #44 closed, assigned to nobody

[2019-10-13 12:29] glvr182 commented on #10
Picking this up again after #41
Will integrate the following commits:
https://github.com/jesseduffield/gocui/commit/619845fffd4d94c2e248f04bcdeaa2669ae24698
https://github.com/jesseduffield/gocui/commit/32197598edc52af42d76b8cba78ed788074b4647
https://github.com/jesseduffield/gocui/commit/117e4fb79d29e3908cb7a7bed5e991a321fde7fd

[2019-10-21 19:51] C0DK opened #46 "[BUG] Italic and strikethrough doesn't seem to work"
**Describe the bug**
So i've been trying to produce italic font for quite some time, and trying to debug why it wouldn't display on my gocui application, but it seems to be a general problem with gocui - and I realized that you don't use neither in your [example](https://github.com/awesome-gocui/gocui/blob/master/_examples/colors.go) - so I realized the problem might be on your end. But i cant fat

[2019-10-21 19:58] C0DK commented on #46
I assume it's because Termbox doesn't support it - though https://github.com/nsf/termbox-go/blob/5c94acc5e6eb520f1bcd183974e01171cc4c23b3/api_common.go#L155 - but it seems weird that they don't do that.. :/

[2019-10-21 20:15] mjarkk commented on #46
From a quick search it seems like Italic and Strikethrough are not supported in some shells or work different and thus some shell will have wired art affects when using then, that's why they seem to be not supported.
And sadly we can't do a lot about it :(

But there is some hope, we are trying to switch to a different underlying library named tcell instaid of termbox to fix some issues like yours

[2019-10-22 07:22] C0DK commented on #46
Yeah i saw that tcell had the same problem. Do you need any small development help regarding the switch to Tcell? i need to create another PR for my hacktoberfest, and would gladly help here.

It seems that tcell have an open fork with both strikethrough and italic, so maybe we'll see it soon. i hope :D

[2019-10-22 07:40] mjarkk commented on #46
If you want to help with #45 a pr is always welcome!
On the top of #45 there is a list of issues I've found and not yet fixed, if you want to help you could try to fix one of those or try to get an example project to work perfectly.

*Make sure to fork my fork and create a pr there, the tcell branch was created in my fork to keep this repo clean*

[2019-10-22 13:46] Rudi9719 opened #47 "[BUG] Arrows not moving cursor properly"
**Describe the bug**
Arrow keys aren't moving cursor properly in view?

**To Reproduce**
Steps to reproduce the behavior:
On a view with editable text in it
1. view.SetCursor(0,0)
2. view.SetOrigin(0,0)
3. view.MoveCursor(x, y, true) <- x,y being end of text
4. Move cursor using arrows
5. Enter text

**Expected behavior**
Text should be entered under the cursor. It seems like the left and right ar

[2019-10-23 06:42] mjarkk commented on #47
Thanks for reporting this,
I believe there is also another issue when if text is line wrapped and a user start typing on not the first line it also adds chars on the first text line in-staid of the cursor position.

I hope i can find some time this week to fix the issue seems like something important to fix.

[2019-10-23 12:50] Rudi9719 commented on #47
That's the same issue I'm having, except I can move where the chars are sent using the arrow keys. But it seems like the up/down arrow keys just do left/right.

Thanks for looking into it!

[2019-10-23 13:14] C0DK commented on #46
will do!

[2019-10-24 10:30] MichaelMure commented on #46
Completely unrelated to this particular issue, but I just wanted to drop by and say that it's awesome to see you guys organize and fill the gap to push gocui further. Very much appreciated :heart:

[2019-10-25 06:46] mjarkk commented on #47
Looked into this yesterday and it seems there is a fix for this build into gocui but it's supper crappy.

Right now when you are typing at the end of a sentence and you reach the end of a line it just insert a new line in-staid of adding a char to the end of the current line. (just star typing something till it line wraps and then resize the window)
But the wired think is when you are not at the e

[2019-10-25 14:26] mjarkk commented on #47
I've put up a pr to fix you issue #48

can you test it on your repo and see if it fixes the issue because the pr has quite a bit of changes and i'm not sure if i may have accidentally have broken something?

[2019-10-30 13:01] C0DK opened #50 "[BUG] Overrides previous ANSI style"
**Describe the bug**
So this is pretty simple to replicate and test, but `\x1b[1m \x1b[31m test` this string will not be bold, which it should, based on ANSI standards. the first ANSI styling is overwritten by the second, however i don't use any reset flag so it shouldn't.. the following two strings should be identical, but they are not: `\x1b[1m\x1b[31m test` and `\x1b[1;31m test`.

YOu can easil

[2019-10-30 21:58] glvr182 commented on #50
Thank you for the report! Right now we are reworking some things in the rendering part (see #47 #49)
After those (maybe even during) I'll check if i can fix it!

[2019-10-31 12:00] Rudi9719 commented on #47
Sorry! I didn't see this, give me one sec and I'll build it in

[2019-10-31 12:07] Rudi9719 commented on #47
Seems like this doesn't fix the issue we were having with input, it actually makes it a little worse now as we can't scroll horizontally to the part of the string we want to edit.

What it does now is it seems to lock the cursor to a specific point, unless we edit _after_ a newline

[2019-10-31 12:47] mjarkk commented on #47
Thanks for the feedback i'll see if i can fix it.

[2019-10-31 20:18] mjarkk commented on #47
I think it's fixed now, can you try it again?

Also you might already know this but gocui also has a nice view argument called `v.Wrap` what makes editing inside gocui a bit nicer (at least that's what i think)

[2019-11-01 14:05] Rudi9719 commented on #47
I can't seem to pull your branch due to merge conflicts. As for `v.Wrap` - we have that set to True for the input views, otherwise they will stay on one line at all times and not wordwrap

[2019-11-01 14:35] mjarkk commented on #47
I don't think is a merge conflict,
It's probably because i force pushed to the branch to cleanup the commits.

[2019-11-01 15:13] Rudi9719 commented on #47
Still no dice, for some reason the insert is happening at cursorY - 1 instead of cursorY so when the cursor is at (8,1) the insert happens at (8,0) instead of under the cursor. However if I move the cursor to be normalY+1, it inserts at the proper spot - which isn't a part of the previous string and breaks backspace. To get up to the string I have to arrow key up, which then the input jumps back u

[2019-11-01 15:48] mjarkk commented on #47
Can you maybe provide a working go file with the problem,
I just can't get the problem locally.

[2019-11-01 17:17] Rudi9719 commented on #47
I'm not sure how to, it's the same project as last time https://github.com/Rudi9719/kbtui - the exact code that is being run is
[code]

[2019-11-01 17:48] mjarkk commented on #47
Can you try this:
[code]

[2019-11-01 18:11] Rudi9719 commented on #47
That causes some interesting behavior, now it flat out ignores up and down unless there are newlines, so navigating a string works however there is no way to jump up or down at all

[2019-11-01 20:11] mjarkk commented on #47
This is how an editor should behave right?
Or did you want to move the cursor to the most bottom off the view and start editing there even if there is no text there at all?

[2019-11-03 19:00] MichaelMure opened #51 "... overlapping ?"
I'm migrating from the original gocui to this awesome community maintained version. In the process, I noticed new parameters for `NewGui()` and `SetView()`. Looking at the code, it's not super obvious what this overlapping is about and how it could/should be used.

Could you explain a little bit what it is about and maybe give a small example?

Thank you

[2019-11-04 13:30] Rudi9719 commented on #47
Yes and no, this fixes the issue by removing the ability to cause it in the first place. Most editors allow you to (like here in github you can test this in a comment) just hit the up arrow to go to the line above. Before the fix, you could do that however the insert wasn't happening at the cursor. Now the insert does always happen at the cursor, at the loss of being able to use the up and down ar

[2019-11-04 13:30] #47 closed, assigned to nobody

[2019-11-04 14:01] mjarkk commented on #47
Ah yes i think i see what you mean..

If for example this is the text:
[code]

And this is on screen:
[code]

If the cursor is `|` and you press up nothing happens.
I've left this behavior in the code on purpose because i don't think it's logic to go from a line to the same line and beside that most text editors do the same thing when line wrapping is on.

[2019-11-23 10:44] mjarkk commented on #51
Thanks for noting this,
This is indeed something we need to add some documentation about.

This behavior is copied over from @jesseduffield fork and if i'm correct if overlapping is true and 2 frame borders merge these kind of chars will be used `├` `├` `┴` `┬` `┼` and if false the most top frame will just be rendered without merging the frame lines and thus leaving some empty room between lines.

[2019-11-26 10:12] abitrolly commented on #42
It would be really nice to get a list of all current problems with `termbox` somewhere.

[2019-11-26 10:20] mjarkk commented on #42
Totally agree but i need to find some time to dig through issues.

[2020-01-18 01:50] curusarn commented on #51
That sounds great. Thanks for all the work you put into the project.

Could you explain what `overlaps byte` parameter in method `SetView(name string, x0 int, y0 int, x1 int, y1 int, overlaps byte) (*gocui.View, error)` means?

Thank you

[2020-01-21 15:24] glvr182 commented on #51
Overlaps describes which edges are overlapping with another view's edges. If Gui supports overlapping, the method [```drawFrameCorners```](https://github.com/awesome-gocui/gocui/blob/a34ffb055986a3f9461735162c9a2d235b95b8cb/gui.go#L623) will decide what rune to use as the corner, using the helper function [```corner```](https://github.com/awesome-gocui/gocui/blob/a34ffb055986a3f9461735162c9a2d235b

[2020-01-23 19:12] MichaelMure commented on #50
No idea if it's useful for this particular issue but I wrote some code to accumulate multiple ANSI escape code together: https://github.com/MichaelMure/go-term-text/blob/master/escape_state.go

[2020-01-23 19:26] MichaelMure commented on #51
Sorry in advance, I'm going to be a bit harsh.

I might be wrong but I'm under the impression that this particular feature has been added by @jesseduffield for one of his particular need (nothing wrong with that) and not really designed for a general use. The API is not so obvious (why a byte ? is that a flag ? an enum ? what should I use there ? why should I give that when I create a view ?). It'

[2020-01-24 08:38] abitrolly commented on #51
@MichaelMure overlapping is a common features in 2D interfaces. In HTML it is called [`margin collapsing`](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing).

I am not sure what is this `overlapped` and that's why I subscribed to this issue. If you already got time to draw some examples of how it works, then we can sync on understanding what this stuff is

[2020-01-24 08:45] abitrolly commented on #51
Forgot to say that I discovered this issue when creating hello world with `gocui `and understanding what this parameter was important to me. Since then I switched to https://github.com/rivo/tview which appeared to be more simple to start.

[2020-01-24 13:20] glvr182 commented on #51
@MichaelMure Dont be sorry for telling us what you think. You are right. Most of the code that was added in the beginning was taken from jesse's fork, this includes some stuff that were especially usefull for jesse's own projects. I agree that it is not clear how it works, and this might not be the best way to implement the overlapping feature. We might need to reconsider this implementation and p

[2020-01-27 22:10] jesseduffield commented on #51
I can confirm that the overlapping edges thing was fairly experimental and half-baked. I see no issue with scrapping it and it being re-implemented down the line.

[2020-02-25 19:11] MichaelMure opened #52 "version of go-runewidth"
Just a FYI, you might want to update the go-runewidth version to the latest as it at least fix the width of a bunch a characters. Those bugs tends to be quite annoying to track down.

[2020-02-26 09:11] mjarkk commented on #52
Thanks for notifying I've put up a pr to fix it #53

[2020-02-26 09:28] MichaelMure commented on #52
You might want to enable dependabot to get notified when a dep has a new version and have a PR ready automatically. I'm using it for my projects, it's great.

[2020-02-27 13:17] #52 closed, assigned to nobody

[2020-03-22 00:23] #12 closed, assigned to glvr182

[2020-03-22 19:34] curusarn opened #54 "Keybindings for Ctrl, Shift + Arrow keys, Backspace"
**Describe the feature you'd like**
I would like to be able to bind functions to the following combinations:

- Ctrl + Arrow key
- Ctrl + Backspace
- Shift + Arrow key
- Shift + Backspace

**Context**
The Alt key seems to be the only available modifier (`gocui.ModAlt`) and some Ctrl key combinations are realized as special keys (`gocui.KeyCtrlC`). The Shift key combinations don't seem to be bindab

[2020-03-23 06:48] mjarkk commented on #54
This isn't possible due to termbox :(,
Our keybindings are a direct copy of termbox's and thus we can't do a lot to fix it.

Because of this and other issues with termbox i've openend a pr to switch to tcell here https://github.com/awesome-gocui/gocui/pull/45
Tcell is an alternative to termbox and fixes a lot of problems with termbox that are currently impossible to solve.

[2020-03-23 06:48] #54 closed, assigned to nobody

[2020-03-31 11:27] strang1ato opened #55 "Add ability to change view visibility"
It would be nice if there was Hide, Unhide view methods like in that unmaintained repo in this commit: https://github.com/grafov/gocui/commit/dfc721a26b344a30646e3e236544bcf82f9c0c2c

[2020-04-05 16:53] strang1ato commented on #55
Or by using capital `Visible` instead of `visible` to omit unneed functions, like I did it on my fork https://github.com/oltarzewskik/gocui/commit/b31b18ed36829af77d4e5508ae7d4bcc55cf2919

[2020-04-06 07:09] mjarkk commented on #55
I think we already have that :)
https://github.com/awesome-gocui/gocui/blob/55e71cf05a1839a750044dd2198fe7a5cca81fa3/view.go#L61

[2020-04-06 08:52] strang1ato commented on #55
Oh, sorry for that. Thanks :smile:

[2020-04-06 08:52] #55 closed, assigned to nobody

[2020-04-15 13:48] fawick opened #56 "[BUG] Rune-based keybindings do not work without a current view"
**Describe the bug**
I have a Gui without a currentView and only with global keybindings. I ran into the problem that keybindings based on `rune` would not work for me while keybindings based on `gocui.Key` were still working. I traced the issue a bit and found that the reason seems to be that no current view is set. I describe this under "Additional Context" below. The minimum viable reproduction

[2020-04-15 14:49] glvr182 commented on #56
Confirmed that it stil exists in master, gonna have a look at it now

[2020-04-15 15:05] glvr182 commented on #56
PR is up, you can test it if you want

[2020-04-15 16:09] fawick commented on #56
I applied the patch from #57 against my local copy of 0.6.0 and can confirm that the patch fixes the issue.

[2020-04-15 16:53] #56 closed, assigned to nobody

[2020-04-15 18:04] fawick commented on #56
Thanks for addressing and fixing this swiftly!

[2020-04-15 20:45] glvr182 commented on #56
No problem, hopefully we'll create a new release soon. But for now you can just use the master branch

[2020-04-24 13:52] glvr182 opened #58 "Using go 1.13 errors"
A long time ago in a galaxy far far away, go got a new way of dealing with errors (see their [blog](https://blog.golang.org/go1.13-errors).
I think this would a great feature to add to our codebase.
What do you guys think?
@mjarkk @jesseduffield @skanehira

[2020-04-25 00:46] kanbara opened #59 "[BUG] SelFgColor and SelBgColor are not used for Highlight anymore"
**Describe the bug**
Apparently, SelFgColor and SelBgColor are not used anymore in highlighted frames. The original SetRune implementation checked the highlight state, and the current SetRune only bolds the fgColor, as seen in this commit https://github.com/awesome-gocui/gocui/commit/d9a7952a95539a75d4f64ccdfe30bd09b549e2a9

**To Reproduce**
[code]

Observe the highlighted color is only bolded.

*

[2020-06-01 19:37] juliaschell opened #60 "Key binding doesn't seem to be working for runes"
I was using jroimartin/gocui for a while and recently migrated to this fork.

When I type in one field of my gui, I intend to update another field according to what I wrote. I use a keybinding for this, effectively for each alphanumeric character I type.
`		for _, c := range "{};=<>()[]'\"/\\-+:abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789" {
			g.SetKeybinding("Title", c, gocui.M

[2020-06-01 20:26] glvr182 commented on #60
hmmm SetKeybinding requires a handler function `SetKeybinding(viewname string, key interface{}, mod Modifier, handler func(*Gui, *View) error) error`. So are you sure your code compiles?

Also is your code public? Might be able to have a look at it

[2020-06-01 20:30] glvr182 commented on #59
You're right we have to update a lot of documetation. We haven't been active a lot since starting this project. I'll try to fix this and add documentation ASAP.

[2020-06-01 20:46] glvr182 commented on #59
should be fixed in #61

[2020-06-01 20:48] kanbara commented on #59
awesome, that commit looks good. thanks!

[2020-06-01 20:52] glvr182 commented on #59
Sorry for taking so long to reply, should really stick more time in this. After all we forked because the original author abandoned it... Now we are doing the same thing

[2020-06-01 21:36] juliaschell commented on #60
Unfortunately my code is not public so I cannot share.

Yes the create_update_titleBuff(c) is my handler function. The code for that func is of the form

[code]

With that code, I would expect my Title field to show 'aaaaaaa' as I type, but instead it just displays what I typed as if there were no key bindings at all and it was just a normal editable field

[2020-06-02 10:46] #59 closed, assigned to nobody

[2020-06-07 14:34] glvr182 commented on #60
The issue is in
[code]
Essentially this was designed to ignore keybinds when typing in an editable view. I'm thinking about making a bool called `ignoreKB` or something like that that defaults to true(ignore when editable) that you can set to false(do not ignore when editable) for your implementation. This way most people won't notice anything but you can implement your idea

[2020-06-07 14:45] glvr182 commented on #60
Can you test my PR #62
You can do so by changing from awesome-gocui/gocui to glvr182/gocui OR just add the patch to your own code (module/vendor folder)

[2020-06-14 00:21] w6ipa opened #63 "[BUG] MoveCursor moves beyond line end"
**Describe the bug**
When the cursor is on the last character of a line, and v.MoveCursor(1,0,false) is executed, the cursor position (returned by v.Cursor) is equal to then len of the line, which is out of bound.
**To Reproduce**
See above

**Expected behavior**
When v.MoveCursor(1,0,false) is executed and the x is equal to the last index of the line, y should be increase, and x reset to 0.  The

[2020-06-24 18:00] juliaschell opened #64 "Text wrapping is adding new lines into the output"
I have an editable field in my UI for users to enter a description for what they're doing, and text wrapping is turned on. When I retrieve and print the buffer as a string at the end, there's a new line where the text wrapped in the UI.

Here's my code for the view:
[code]

<img width="1058" alt="Screen Shot 2020-06-24 at 12 58 47 PM" src="https://user-images.githubusercontent.com/29985063/8560839

[2020-06-25 07:48] mjarkk commented on #64
This is a known issue aside from other text input issues :(
I've created a a mr this fix these already a while a go https://github.com/awesome-gocui/gocui/pull/48 but i'm not sure when i'll merge this in because it changed some core things.
First i thought to combine these change together with lots of other issues related to termbox but the mr to fix those has some big performance issue that requi

[2020-07-01 14:27] rmasp98 opened #65 "[BUG] EditGoToEndOfLine and EditGoToStartOfLine do not account for origin"
This is a great project and I am really glad you guys are still supporting it and adding some really useful features. I was fiddling about with my app the recently and I noticed that a couple of functions don't seem to be working properly. Sorry if I have misunderstood anything but I am still fairly new to golang

Both the following functions are part of the view class in edit.go:
EditGoToEndOfLin

[2020-10-25 16:26] dankox opened #71 "Frame color for Views"
Hi,
I wanted to ask, if I could create a PR for adding frame color for seperate views. Basically it would add new color attribute to view for frame and title color.

I had created a fork with that change which I'm using in my project. But I was hoping something like that could be added to this repo too.

Here is my commit in the forked repo: https://github.com/dankox/gocui/commit/a7e8d20a79e69a488

[2020-10-25 16:40] mjarkk commented on #71
Seems like an oke change to me.
Feel free to create a PR for this!

[2020-10-27 16:34] glvr182 commented on #71
sounds good! go for it!

[2020-10-28 15:05] dankox commented on #71
Cool. I created a PR, but I added there a bit more. It's still related to the frames, so I hope you won't mind.
If you feel like the added customization is not ok, I can revert it to color customization only.

[2020-11-09 14:29] dankox commented on #22
Was checking this a bit yesterday. The problem is that cursor is moved by `runewidth` width, but only one cell is inserted (so the next character is placed after another character, not next to the just inserted one).

I might look into it later, after `tcell`, to see if there needs to be special handling done. When I moved by 1 cell, it seems it worked fine. But there is too much logic around it,

[2020-11-09 18:52] mjarkk commented on #22
I have re-written the complete text editor with also a fix for this if i can remember correctly here: https://github.com/awesome-gocui/gocui/pull/48
My idea was to merge that together with cell because it also changes some core things.

[2020-11-10 14:17] dankox commented on #22
Oh cool, that looks good.

[2020-12-22 17:23] #71 closed, assigned to nobody

[2020-12-24 18:24] mjarkk commented on #65
Sorry for the late reply,
Can you check if this issues still is a thing in [v1.0.0-beta-2](https://github.com/awesome-gocui/gocui/releases/tag/v1.0.0-beta-2)
If so i'll see if i can add the code you suggested

[2020-12-24 18:27] mjarkk commented on #64
Sorry for the comment above :(,
We just released 2 beta releases and in those we changed the way text is rendered so your issue might be solved now.
Are you open for trying the latest beta release [v1.0.0-beta-2](https://github.com/awesome-gocui/gocui/releases/tag/v1.0.0-beta-2) and check if the issue is resolved?

[2020-12-24 18:28] mjarkk commented on #63
We just released 2 beta releases and in one of them we changed the way text is rendered and how the cursor works.
Are you open to trying out [v1.0.0-beta-2](https://github.com/awesome-gocui/gocui/releases/tag/v1.0.0-beta-2) it might have solved this issue?

[2020-12-24 18:30] mjarkk commented on #42
Yay we can finally close this issue!!

[2020-12-24 18:30] #42 closed, assigned to nobody

[2021-01-14 17:48] juliaschell opened #76 "gocui.KeyCtrlTilde doesn't seem to be triggering"
Anyone else had this issue? My keybinding for gocui.KeyCtrlTilde doesn't seem to be running

[code]

When I hit ctrl+2, I get the log. when I hit ctrl+~, nothing happens.

[2021-01-20 13:13] glvr182 commented on #76
What version of gocui are you using?

[2021-01-25 11:28] dankox commented on #76
@glvr182 If she is using the newer version, the problem might be caused by this line:
https://github.com/awesome-gocui/gocui/blob/a0f5addf3ea3aac5a8444a76e2b7c87e4f229ce2/keybinding.go#L226

It could be changed to have the same keybind as `KeyCtrl2`, which is `tcell.KeyNUL`, but the problem for me was, that I couldn't trigger that keybind at all. If you could try to debug it  and put a breakpoint

[2021-01-25 14:32] glvr182 commented on #76
Ill do some testing this weekend, exams tomorrow and thursday 🙃. Thanks for pointing me in a direction to look for this!

[2021-01-25 21:42] juliaschell commented on #76
Was trying to use ctrl+~ because ctrl+1 is not available as an option. Why is this? BTW I'm on a Mac

[2021-01-25 22:03] juliaschell commented on #76
We have our own fork of your repo (forked to fix some text input issues I've mentioned in previous questions on here) so not really a specific version, but forked back in July. Last common commit is https://github.com/awesome-gocui/gocui/commit/fa13102c7c571a26eec4805f151fb30c4ff2de32

[2021-01-26 08:56] dankox commented on #76
@juliaschell I see, so you are using older version with `termbox` library. That one has defined the key, so the above comment does not apply for you (about text wrapping, I think it might be resolved in the new beta version now).

As for why you can't see or use that key, your terminal probably does not have it mapped to anything. I don't think that key is actually mapped to something in general,

[2021-01-26 08:59] dankox commented on #76
@glvr182 I think it's not necessary to debug as the problem is in the older version with `termbox`, but if you could try it might be worth to know if `tcell` actually produces something for `Ctrl+~`. I can't get it on my system, but who knows :)

Btw... if the `Ctrl+~` really doesn't produce anything, I guess it might be worth to throw it away, so it doesn't confuse people and maybe document it. O

[2021-02-21 14:39] dankox opened #77 "New View.SetCursor() - problem/question"
I found this problem when I was trying to update my application to use gocui version `v1.0.0-beta-2`.

I had there code like this (where `v` is referencing `gocui.View`):
[code]

The `View` which is there, is 1 line in height. It's basically a command prompt and after hitting enter, the prompt will be cleared and cursor set to the beginning.

I know that I don't have error checks :) but the point

[2021-02-22 22:07] cmetz commented on #77
I ran into the same issue, i'm currently fixing /optimizing other stuff as well, also it potentially ran into a len(v.lines[y]) failing on a nil slice.

I think they changed it to implement a logic where it is only possible to set the cursor to a position where a line is existing and allowing to set x outside of maxX when there is content in the line , or outside of the line content, when its belo

[2021-02-23 20:41] mjarkk commented on #77
Seems like setting the `v.lines = nil` is wrong as we no where in the code check for `!= nil` but that doesn't fix the full issue.

I've probably made those change :sweat_smile:, I think we cannot go back to the old code here as it works fundamentally different. In the past the cursor position was based on the visible lines and now it's based on the buffer lines.
If we would check for the view siz

[2021-02-24 00:25] dankox commented on #77
I was looking thru it to understand the problem a bit more and here is what I learned (feel free to correct me).
Cursor position in view is used mostly for editing purpose. Basically all the `edit.go` functions uses it for write, delete, newline, moving cursor up and down, etc.
This makes it important only when editing is turned on, which means the `view.lines` should be the way to check where it

[2021-02-24 17:03] mjarkk commented on #77
Why check if it's inside the view range?
I think having these 2 rules for setting the cursor position is very confusing and not clear, maybe a better solution here is to allow settings the cursor everywhere without an error but when it's outside of the buffer lines change it to the last buffered char? that's very easy to understand.

[2021-02-24 18:47] dankox commented on #77
Hmmm... so you mean anywhere in limit of `View`? Or even outside of the dimension and it will be in the buffer?
Maybe just clarifying what `(x, y)` in `SetCursor` means (is it position in the `View` or buffer)? As for `view.cx` and `view.cy` those are position in the view buffer if I get it correctly?

[2021-02-25 14:02] mjarkk commented on #77
It's relative to the buffer not to the view.
This also means you could place the cursor outside of the view if the buffered text is larger than the view (now that i'm thinking about it we should maybe also scroll to the cursor position).

I made this change because i don't know of any situation where you would have scrollable text and want to place the cursor relative to the view and not relative

[2021-02-25 18:40] cmetz commented on #77
I think setting it on the buffer makes more sense, but it should work when the buffer is nil.

I also discovered an offset bug: When clearing a buffer the view offsets are not getting reset to 0 which leads to a missing first character in an single line input prompt which got scrolled recently. I also set v.ox and v.oy to 0 on a v.Clear() in my current patched version.

[2021-02-26 09:12] mjarkk commented on #77
Hmm you're right maybe we should reset everything in the clear function.
I've created #78 that should fix the problem

[2021-02-26 16:11] dankox commented on #77
I've checked it. I think that should "clear" most of the problem with `SetCursor` up :) Thank you.
I still think there might be a bit of problem with mouse and cursor highlights... however, I would have to come up with a "test case" where we could check it.
So fo now I guess this is fine and can be closed when the PR is merged.

[2021-02-26 19:23] #77 closed, assigned to nobody

[2021-02-26 19:26] mjarkk commented on #77
I've merged the PR to fix the issue and created a new release [v1.0.0-beta-3](https://github.com/awesome-gocui/gocui/releases/tag/v1.0.0-beta-3)

[2021-03-02 14:55] mjarkk opened #79 "Release v1.0.0?"
As it has now been 2 months since the creation of the v1.0.0 pre-release versions and there has only been 1 issue should we release v1.0.0?
@dankox What are your thoughts?

[2021-03-04 10:20] dankox commented on #79
Sorry for delay, had a vacation :)

Yeah, that makes sense. However, I wanted to create PR with some updates to the documentation, so maybe this could be done before. I was writing some migration "tips" when I was moving to the beta release (like how to easily change the error handling across the project and the `MoveCursor` function change).
I would be able to do this PR in few days (have to catc

[2021-03-04 14:27] mjarkk commented on #79
Ah great!, i'll wait for your PR and after that we can create v1

[2021-03-04 14:28] #79 closed, assigned to nobody

[2021-03-13 13:31] dankox opened #81 "Problem with SetCursor() used by mouse"
**Describe the bug**
`SetCursor()` function working on top of the view buffer lines can cause panics when mouse control is turned on.

**To Reproduce**
Steps to reproduce the behavior:
1. clone branch from PR #80
2. run `go run _examples/mouse.go`
3. move cursor in to the spot in view which doesn't have text (basically just moving it at the end of the highlighted line does the trick)

**Expected b

[2021-03-13 13:34] dankox commented on #81
@mjarkk Again with another problem with `SetCursor` :) I wrote down how I think it could work. I didn't start to write down the fix, because I wanted to confirm if you are ok with this way, or if you have better suggestion.
This problem is most apparent with mouse control, but I could imagine other application using `gocui` to hit similar problem too.

[2021-03-18 17:36] lawrencegripper opened #82 "Allow access to tcell.Screen for redrawing/complex scenarios"
Firstly, thanks for all the work on the fork it's awesome!

**Describe the feature you'd like**

I'd like to have methods which allow me to use the underlying `screen`.

I build out a terminal based browser for Azure Cloud which lets you browse to an item and then open your favourite editor to edit it (nano, vi) then once you save and close the editor the update is pushed and the `gocui` UI redraw

[2021-03-18 17:48] glvr182 commented on #82
Interesting idea, I would be open to exposing a few functions like you proposed. I would like to keep the access `screen` limited, so this seems like a good alternative.

@dankox what do you think?

[2021-03-18 17:49] glvr182 commented on #81
pinging @mjarkk

[2021-03-18 19:07] lawrencegripper commented on #82
Awesome, works well for me. I've put in a PR to show what the changes would look like, bonus is they're super small.

[2021-03-20 12:09] dankox commented on #82
@glvr182 Actually this is something I would appreciate too :)

What I did in my application is kinda cumbersome with the current API. I stored the full view setup and close `gocui` and open vim editor. After the vim is finished, I reinitialise `gocui` with the previously setup layers and content.

This would be definitely beneficial for more people (I remember seeing the approach which I used also

[2021-03-20 12:22] glvr182 commented on #82
Yes that sounds like a good idea, this would enable developers to take more control over tcell while still being within the limits of what should be exposed.

Would either of you be able to create a PR for this?

[2021-03-20 18:23] mjarkk commented on #81
Sorry for the late reply last few week have been busy.

Anyway i should definitely fix that panic that's never good.
About the logic behind SetCursor i'm not sure if we should do that i see the issue of applications that have to change now because of this change but i don't think that are manny.
Besides in all GUI libraries the cursor position is based on the buffer so why not do that here? I cann

[2021-03-20 20:48] lawrencegripper commented on #82
Great, sounds good to me. I've updated my PR to use the suggested method names so hopefully good to go.

[2021-03-21 13:03] dankox commented on #81
I see... in that case I will leave it to you. I can't really think of any other problem than the mouse problem. But mouse is in gocui control, so it shouldn't be a problem to fix it.

[2021-03-24 18:48] Chillance commented on #82
So, I was looking at termui and there you have a "Block" which essentially draws the border (or Frame as it's called in gocui). Widgets extend this "Block" and do their thing using the lower level SetCell() function. First I thought this issue was about that, but not directly I guess. However, since it's related I figured I bring this up here and see if we can expose that here too or something? Or

[2021-03-24 22:00] lawrencegripper opened #86 "Add ability to use tcell simulated screen for testing gocui"
**Describe the feature you'd like** (Happy to PR this feature)
tcell supports a simulated screen, this allows you to write unit tests which provide input and then assert about the content drawn on the screen.

https://github.com/gdamore/tcell/blob/master/sim_test.go

Adding in this feature by either exposing the tcell simulated screen or a wrapper to abstract it but allow input of keys and validat

[2021-03-25 18:38] mjarkk commented on #86
That would be very handy and i could imagine make testing for a lot of programs a lot more accessible so yea i'm open for this feature!
feel free to create a PR for this!

[2021-03-28 10:26] lawrencegripper commented on #86
Cool, going to take a run at this now and see how far I get.

Given the rest of `gocui` abstracts the underlying `tcell` lib I'm going to wrap the features so in theory future work could change the underlying `tcell` driver and reimplement the funcs using another lib without users needing to make changes.

[2021-03-28 15:27] dankox commented on #82
@Chillance I don't think this is really related as this issue is about exposing `tcell` package functions, while what you would like to have is to be able to translate the `Block` of `termui` cells into `gocui` cells.

Exposing `tcell.SetCell` wouldn't help with that (if I understood your request correctly). What you could do though, is to translate the underlying buffer into ANSI escaped strings

[2021-03-28 15:27] dankox commented on #82
btw... closing as the PR is merged...

[2021-03-28 15:27] #82 closed, assigned to nobody

[2021-03-28 15:52] #81 closed, assigned to nobody

[2021-03-28 16:24] Chillance commented on #82
Sounds contradictory, but ok. :) And yes, I was talking about exposing tcell function(s). tcell.SetCell in this case. But sure, I could translate those termui widgets into instead of using tcell directly, use fmt.Fprintf as you say. Basically termui is on a lower level, setting the values of a matrix grid, while gocui would print the grid row by row... :)

[2021-03-28 16:46] dankox commented on #82
@Chillance After some more looking around... I have to say, that there is `SetCell` function exposed already :) I was wrong.

It's called `gocui.SetRune`. But the problem here is, that it is `SetCell` as you would want, which means, no binding on views. That's the problem with cells and `gocui` view representation.
So the idea how to use it, is to be sure you do not overwrite it with your view. Be

[2021-03-28 23:21] Chillance commented on #82
Oh, cool. SetRune might work. Might need some logic to handle global (whole terminal) vs local (view) coordinates...

[2021-05-05 12:02] mjarkk commented on #86
Can we now close this issue?

[2021-05-05 12:03] mjarkk commented on #65
We've now released v1.0.0 that is fundamentally different and should fix this issue.

[2021-05-05 12:03] #65 closed, assigned to nobody

[2021-05-05 12:05] mjarkk commented on #58
#75 has been merged, closing this issue

[2021-05-05 12:05] #58 closed, assigned to nobody

[2021-05-05 12:38] lawrencegripper commented on #86
Yup 🥳

[2021-05-05 12:38] #86 closed, assigned to nobody

[2021-05-05 12:49] mjarkk commented on #63
As there is no comment and meanwhile we've released v1.0.0 i suspect this is no longer an issue

[2021-05-05 12:49] #63 closed, assigned to nobody

[2021-05-07 14:41] abitrolly opened #91 "[BUG] Parse() doesn't parse Alt, Shift modifiers and converts Ctrl to a key"
Parse() fails process `Alt+` and `Shift+` combinations. See the code below.
[code]
This outputs,
[code]
Another strange behavior is that https://pkg.go.dev/github.com/awesome-gocui/gocui#Parse should return modifier separately from `Key,` but it for `Ctrl+` there is no Modifier and it is mixed into the key.

**To Reproduce**

https://play.golang.org/p/UPWMipkgA9U

**Expected behavior**

[code]

[2021-06-01 22:13] Rudi9719 opened #92 "[BUG] Unable to Fprintf to view"
**Describe the bug**
When trying to use Fprintf() on a view using the following code, nothing appears. It seems as if the view is rendering outside of the actual frame?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run https://github.com/rudi9719/kbtui (which was recently updated to catch up to gocui)
2. Trigger printToView() which calls fmt.Fprintf on a view
3. Profit

**Expected

[2021-06-16 19:07] mjarkk commented on #92
Bit late but create a PR #93 to fix your issue hopefully

[2021-07-06 03:25] gczgcz2015 opened #94 "[BUG]Err Fprintln"
**Describe the bug**
when i run hello example somting wrong

**To Reproduce**
run hello example

**Expected behavior**
correct print

**Screenshots**
![image](https://user-images.githubusercontent.com/15188637/124537869-47992900-de4d-11eb-88f1-41032942d9d4.png)

**Environment (please complete the following information):**
Linux version 5.10.7-3-MANJARO (builduser@LEGION) (gcc (GCC) 10.2.0, GNU ld

[2021-07-06 10:12] mjarkk commented on #94
From your screenshot it looks like you're using GoLand's integrated terminal and from prior experience they seem to have a bit of a buggy terminal.
Does this also happen in the dedicated terminal application?

[2021-07-07 02:46] gczgcz2015 commented on #94
![image](https://user-images.githubusercontent.com/15188637/124692518-4e3ca480-df10-11eb-8f89-00e6ab8a08b8.png)
i tried 2 different terminal（konsole,alacritty）, still has problem

[2021-07-07 08:56] dankox commented on #94
Hi, do you use monospace font on your terminals? The text seems to take less space than the frame characters.

Another question is, what version of `gocui` are you using. From the IDE screenshot, it seems like you have old version `v0.4.0` or `v0.3.1`. Can you check if you build with the latest one?

[2021-07-20 12:57] #92 closed, assigned to nobody

[2021-07-22 13:12] dankox commented on #92
@Rudi9719 sorry for the delay, but it should be fixed. Let us know if the latest master resolved your problem. Thanks.

[2021-07-22 13:22] Rudi9719 commented on #92
Take all the time you need! This library saves me so much time lol I can confirm, the problem is indeed fixed in master!

[2021-09-02 10:23] abitrolly opened #98 "Status of `awesome-gocui/keybinding`?"
I am trying to clean up some technical debt of my solid state drive, among which is the patch https://github.com/awesome-gocui/keybinding/pull/3 that I've made to allow https://github.com/wagoodman/dive quit with a single key shortcut like `q`.

I am asking, because tests for its repo are failing https://github.com/awesome-gocui/keybinding/pull/4

And in addition there is also https://github.com/a

[2021-10-08 20:55] Kavantix opened #99 "[BUG] Mouse handling delayed in neovim terminal"
**Describe the bug**
Mouse clicks inside neovim terminal are delayed until the next system event.
Mouse handling works fine with `jroimartin/gocui`

**To Reproduce**
Steps to reproduce the behavior:
1. Open nvim
2. Open the nvim terminal with `:term`
3. Run a gocui project that uses the `MouseLeft` keybinding
4. Notice that nothing happened
5. Press a random key on the keyboard
6. Notice that the

[2021-10-11 07:32] mjarkk commented on #99
I suspect this has something to do with the move over from termbox to tcell for the terminal rendering library

[2021-10-15 09:27] dankox commented on #99
I was trying to look into this a bit and only found this issue which kinda correspond in `tcell`:
https://github.com/gdamore/tcell/issues/480

However, when I tried to upgrade `tcell` to the latest version, it didn't really help :/.

Was testing it in neovim and in vim (the same problem). But actually when I was trying `_examples/mouse.go` application it didn't really get the mouse event even if a

[2021-11-01 18:41] Kavantix commented on #99
@dankox anything I can specifically test?

[2021-11-02 15:51] dankox commented on #99
@Kavantix I'm sorry, I kinda forgot about this issue. However, I was doing some tests and I'm not really sure if this works at all in any case anywhere.

What I was using initialy was `vim` with `:term` command. But I couldn't make it work even with original gocui which uses `termbox`, so I tried it also in `nvim` and the result is the same.

Mouse doesn't work for me in `vim` or `nvim` either usi

[2021-11-02 17:06] Kavantix commented on #99
@dankox you probably don’t have mouse mode enabled in vim then (it’s off by default)
You can enable it using `set mouse=a`

[2021-11-02 17:37] mjarkk commented on #99
Just tried what you said and my mouse input has no delay:

1. Open `nvim`
2. Ran `set mouse=a`
3. Ran `:term`
4. Ran [_examples/mouse.go](https://github.com/awesome-gocui/gocui/blob/master/_examples/mouse.go)
*(I also tested lazygit and there the mouse input is also supper fast)*

**Envourment:**

- OS: Arch linux with kernel release 5.14.14-arch1-1
- neovim: v0.5.1
- terminal emulator: gnome-term

[2021-11-02 17:42] Kavantix commented on #99
Weird, I have tried on several terminal emulators (iTerm, kitty, alacritty, macos terminal) and all behave the same on my system. I am using neovim nightly though.

Lazygit is indeed fast but that is still using the termbox version right?

[2021-11-02 18:02] mjarkk commented on #99
Just tried out the same thing using Neovim nightly (v0.6.0-dev+551-ged2573b7e from [aur/neovim-nightly-bin](https://aur.archlinux.org/packages/neovim-nightly-bin/)) but it's still as fast.

I think so, this was a tui program i knew has mouse support so i tested it also. tough now looking at it back it was a bit pointless.

[2021-11-02 18:15] mjarkk commented on #99
Beside gnome-terminal also just tested Alacritty and Tilix but no difference both seem to be as responsive as running directly in the terminal, (this was with neovim v0.6.0)

[2021-11-02 18:46] dankox commented on #99
Ooooooooooh... now I feel stupid 🤦‍♀️ my bad :)

So I've tried it with `set mouse=a`, and I see the difference.

But I have to say, this is a bit weird, because for `vim` it works ok... no delay whatsoever. For `nvim` however, I can see the delay by one event mentioned in the issue.
If I try the original `gocui` from jroimartin, there is no delay. So it's definitely `tcell`.

Looking at it more pr

[2021-11-02 18:50] dankox commented on #99
@mjarkk can you try `tcell` demo application from [_demos/mouse.go](https://github.com/gdamore/tcell/blob/master/_demos/mouse.go) if it has similar behaviour on linux as I desribed in the post above? This could also narrow down a problem that maybe only macOS version of `nvim` has this problem, or maybe it's general.

[2021-11-02 19:03] Kavantix commented on #99
@dankox thanks for the extensive explanation!
Let me know if I can help in any way

[2021-11-02 21:07] Kavantix commented on #99
Btw, my preference would be adding the mouse release, a drag feature is something I'm planning on adding to one of my projects so would be very welcome

[2021-11-03 08:41] mjarkk commented on #99
@dankox Just tried out the _demos/mouse.go and now i see the problem the issue describes also on linux with neovim v0.6.0

[2021-11-03 14:03] dankox commented on #99
@Kavantix if you want, you can try to debug it in `tcell_driver.go` program (in polling function) to see what events are provided and at what time. That's kinda what I want to do (to see when the mouse release is passed from `nvim`).

I want to look at it later this day when I will get the time to get better idea of what is going on.

[2021-11-14 03:04] coloursofnoise opened #105 "[BUG] [REGRESSION] First line not rendered on MinGW"
**Describe the bug**
The first line of the UI is cut off, and an extra empty line is added to the end when running on MinGW.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest version of `awesome-gocui/gocui` (`v1.0.1`)
2. Use `g.SetView("test", 0, 0, maxX-1, maxY-1, 0)` to create a view that should surround the terminal
3. Run the program (using `winpty`, see #43)

**Expected be

[2021-11-15 11:31] dankox commented on #105
I do not have Windows 7 by my side to test it, but I remember this problem when I was trying new `tcell` implementation and was bugging me quite a bit. It is described in the PR and also a little bit in the documentation:
https://github.com/awesome-gocui/gocui/blob/master/migrate-to-v1.md#outputmode

also this comment in the original PR is about this problem:
https://github.com/awesome-gocui/gocui

[2021-11-15 19:24] coloursofnoise commented on #105
It seems to be fixed on both `v2.1.0` and `v2.4.0` of `tcell`.
If there's nothing else that would need to be changed with updating it, I can submit a PR to update to `v2.4.0`.

[2021-11-19 19:45] Kavantix commented on #99
@dankox @mjarkk I finally go around to testing this.
It seems neovim is simply not sending mouse release events

However, the old driver that didnt use tcell seems to handle click events on mouse down not mouse release which is why it's not really a problem with the older version.

[2021-11-19 20:00] Kavantix commented on #99
I opened neovim/neovim#16371 at their side

[2021-11-23 10:36] dankox commented on #105
Go for it. Also sorry for late answer :)

If you wouldn't mind and you would do the fix, can you also run thru the `_examples` directory and check if any of those programs are affected or not? I don't think it would happen (I checked what was added/fixed in tcell and all looks ok), but just to be sure.

[2021-11-23 10:46] dankox commented on #99
@Kavantix thanks for letting us know. I can see that in neovim they are fixing propagation of that event to terminal so that's cool.

I didn't have much time recently to look more into this, but I think we definitely should add the MouseRelease event and implement it properly. Keeping this issue open until it's done.
It should be done correctly so other apps are not affected by it and want to be s

[2021-11-23 23:06] coloursofnoise opened #108 "Allow removing view cursor to "un-highlight" all lines"
Demonstrated using `_examples/mouse.go`
- Current behaviour:
![gocui_mouse_bug](https://user-images.githubusercontent.com/53288101/143140270-003aa63a-54f0-4dff-ab91-74941c5f6291.gif)
- Desired behaviour:
![gocui_mouse_fixed](https://user-images.githubusercontent.com/53288101/143140437-742ceb33-0717-4a54-974e-b41f00b9bfcc.gif)

The fix displayed above was done by adding a `View.RemoveCursor` method

[2021-11-24 17:11] dankox commented on #108
This is quite a specific solution to specific problem. There is no restore cursor position after it's removed (when the view is activated thru other means than mouse) and it also doesn't work when user wants to keep the line highlighted for some reason. Although I'm not sure if the keep-highlighted actually works even now :)

I think the correct solution would be to implement something like `gocui

[2021-11-24 23:34] coloursofnoise commented on #108
That sounds much more reasonable.
I probably won't try to implement it until I'm a bit more familiar with the library so it's free for anyone else to do if they wish.

[2021-11-25 12:03] #105 closed, assigned to nobody

[2021-12-30 08:59] gczgcz2015 commented on #94
version is 1.0.1

[2021-12-30 12:16] mjarkk commented on #94
Which terminal font are you using?

[2022-01-08 16:14] #99 closed, assigned to nobody

[2022-01-08 16:14] #108 closed, assigned to nobody

[2022-01-09 09:56] gczgcz2015 commented on #94
font is ```Source Code Pro```
when i use jroimartin/gocui, it's OK

[2022-01-09 10:57] mjarkk commented on #94
Can you try to run the tcell demos and check if they work?

https://github.com/gdamore/tcell/tree/master/_demos

[2022-01-10 10:28] dankox commented on #94
Can you also try the `hello.go` example and set the frame to be ascii? You can do that by updating `main()` function like this:
[code]

Also I would like you to try this command in the terminal (alacritty or whatever you are using and seeing the problems):
[code]
Let us know how the output looks like. This is the same as `hello.go` is producing, so we might be sure if the problem is in the underly

[2022-01-21 06:36] gczgcz2015 commented on #94
when add ascII = true it's OK

![image](https://user-images.githubusercontent.com/15188637/150478614-4693443e-168a-4ed8-8192-c3dd47128903.png)

[2022-01-21 12:35] dankox commented on #94
Ok and what about the `printf`  command? Did it work?
From the `ASCII=true` sample, it seems that the problem might be the monospace font which you are using. So to confirm this, if you could try that `printf` to see if it displays correctly or not. Thanks

[2022-01-22 12:34] KoditkarVedant commented on #91
Hi @mjarkk @glvr182, I was looking to contribute to this project. I'm new to Go lang but I do have experience in other language. So I was going thought this bug description. I wonder is this really a bug because looking at the code in Parse method it is behaving as expected.

[2022-01-25 14:30] mjarkk commented on #91
@KoditkarVedant You are correct the codes doesn't seem to support this tough i think  you expect this kind of input to work.

You are welcome to add support for this!

[2022-01-25 18:05] KoditkarVedant commented on #91
@mjarkk What are your views on using the `https://github.com/awesome-gocui/keybinding` instead of maintaining the separate implementation in this repo.

[2022-01-28 13:55] mjarkk commented on #91
I think we should not use it to keep the amount of dependencies low.

[2022-01-28 14:25] abitrolly commented on #91
@mjarkk how many new dependencies does it add?

[2022-02-01 02:34] rotech opened #115 "Access other views from EditorFunc"
I would like to know if it's possible to access another view from an EditorFunc.   Basically, depending on what has been entered in the view with the editor, I would like to update a different view.

As a parameter to the EditorFunc, the Gui isn't passed to be able to get a reference to other views, and I can't see how to get it without keeping the Gui in a global.

I guess the other option is to

[2022-02-01 03:18] rotech commented on #115
Sorry, figured it out.  I was using EditorFunc, and should have done a function with a pointer receiver and struct to hold any additional variables.

[2022-02-01 03:18] #115 closed, assigned to nobody

[2022-02-01 10:18] dankox commented on #91
I'm not really sure what is the purpose of the `keybinding` library. It doesn't provide any meaningful functionality when used alone and it is not a CLI (which I thought it is) as it only provides functions to translate into `gocui` keys which can be used only by `gocui` (which looks kinda similar to original `gocui` parsing functions with some additions).

I think that parsing of keybinds should

[2022-02-02 07:32] abitrolly commented on #91
For better portability across different frameworks, it would be nice to have some reference `keybinding` lib. Having it in separate repo at least should make it clear what approach is used, which constants are provided, how keys are referenced from code and from an application config.

A demo that allows to test different keys and combination would be useful. Especially for different language layo

[2022-02-02 08:57] dankox commented on #91
I see, for such a case maybe the `keybinding` library makes sense. Although I guess it could be created as a submodule in this repo instead so the parser is only in one place, or maybe the parser in `keybinding` should use the parser from this library. Or users could just use this library to parse the keys because this library will be downloaded anyway.

Nevertheless, you can't really make depende

[2022-02-02 10:27] abitrolly commented on #91
Ideally both should be merged into https://pkg.go.dev/golang.org/x/term instead of adding another layer to the cake. At least key codes and handling logic for them could be universal.

[2022-02-02 16:19] dankox commented on #91
Hmmm... I guess we are talking about two different things here. `keybinding` or `gocui` keybinds are not based on `golang.org/x/term` library.
The keys used here are obtained from underlaying `tcell` library, which handles consoles/terminals across multiple platforms and have its own specific way of dealing with it.

`golang.org/x/term` doesn't really fit in at all, as it only provides support for

[2022-03-16 20:40] ekkkkkknoes opened #118 "[BUG] View Offset/Origin causes weird interactions between cursor and highlight/mouse"
**Describe the bug**
With a y-origin other than 0 and View.Highlight enabled, the cursor will be above the highlighted line. This means that if the cursor is moved with keybindings, the highlighted line will be off-screen before the cursor reaches the bottom of the screen and the view starts scrolling.

With a y-origin other than 0 and mouse enabled, the cursor will be above the mouse after receiv

[2022-04-07 20:34] #118 closed, assigned to nobody

[2022-05-28 08:57] Thijxx opened #120 "Example with subprocess"
**Describe the feature you'd like**
I would like to be able to understand, using the examples, how I can do anything in my application besides running the UI.
To me it looks like I need to write all my code in the layout() function since it's a blocking process. It takes no arguments so I would not know how to make an application using the UI although the UI itself is working great.

**Describe al

[2022-05-28 09:13] Thijxx commented on #120
As usual I find what I was looking for right after asking for it: https://github.com/awesome-gocui/gocui/blob/master/_examples/goroutine.go

[2022-05-28 09:13] #120 closed, assigned to nobody

[2022-06-07 18:40] ghost opened #121 "Enhanced text editing"
**Describe the feature you'd like**
Pressing Backspace doesn't let me see what character I'm erasing if the cursor were at the start of a line or somewhere in the middle.

**Describe alternatives you've considered**
Origin position follows cursor position in the above cases.

[2022-06-15 18:02] dankox commented on #121
I'm not quite sure if I understand. When I'm erasing character with backspace the cursor is in front of such character. If it's in the beginning of the line the cursor move the the end of line before which I can see (unless it's not wrapping and the line extends out of the visible screen/terminal).

I can also see the character under the cursor (which the cursor is on top). So I'm not really sure

[2022-06-15 20:09] psparago opened #122 "Seeking guidance: "Status" view not updating"
If this is not the proper place for this question, my apologies (and sorry for the length of this post).

I am working on a shell UI that is legacy code (that I didn't author). It has been working for many years, but It was based on a hacked version of jroimartin/gocui and a hacked version of a widget package the author found (4 years ago, he just disappeared).

We recently moved all of our Go cod

[2022-06-15 21:40] dankox commented on #122
Hmmm... your problem made me think that we probably introduced some bug with the size of `View` when we rewrote that functionality. But I tried the original `jroimarting/gocui` implementation and it has the same problem.

So just to explain why it doesn't show anything, it's because the size of the `View` is too small. Even without `Frame`, it just sees it as empty, because the `x0`, `y0` and `x1`

[2022-06-16 00:04] psparago commented on #122
Thank you very much for the speedy response. I truly appreciate it.

Unfortunately I get the same behavior after make the change suggested. I've even expanded the y1 to 5 and draw a frame around the view and it is still empty.

I'm wondering if I'm handling the actual write to the status view properly. In the hello.go example, the write is done in layout. That wouldn't be the case in my implementa

[2022-06-16 10:22] dankox commented on #122
Oh I see now. I didn't download the app before as I just saw the View size in your comment and assumed that's the reason.

Now I downloaded and checked your code and the reason why it's not working for you is that you delete the `status` view every call of `(*Window)Layout(*gocui.Gui)` function in `widgets/window.go:188`.
[code]

To make it more clear on how `gocui` works:
1. waits for any event (

[2022-06-16 10:28] dankox commented on #122
Maybe one more thing about it. The `gocui.ErrUnknownView` is probably the design decision here, where you can always run `SetView` and just check and decide accordingly what should be done.
1. `err == gocui.ErrUnknownView`  - newly created `View`, you can populate it with the "default" content
2. `err == nil` - this is existing view and was updated with new dimension (or the same dimension), it ma

[2022-06-16 11:17] psparago commented on #122
Thank you SO much, especially for taking the time to explain how this works. I removed the delete of the view in the test app and I now have output! I will run through the logic and decide what best works in the actual application.

I should note that the author did modify (and Expose) flush() in his hacked version. I must have missed a nuance that made his version work.

Once again I truly apprec

[2022-06-16 16:12] ghost commented on #121
This

1 and 3 gifs show current behaviour, 2 and 4 desirable , in my opinion.

## The start of line case
![PowerShell 2022-06-16 18-52-43](https://user-images.githubusercontent.com/105899641/174114414-dd934654-f4c8-4edc-8734-e990409ffe1a.gif)

![PowerShell 2022-06-16 18-53-47](https://user-images.githubusercontent.com/105899641/174115208-1a61ced8-8c90-4934-a6e8-6e187620e169.gif)

## The middle/end

[2022-06-16 21:06] psparago commented on #122
Hello again, I really hesitant to bother you again and I realize you're not my personal consultant :-), but, while I have statuses mostly working now, I've run into a roadblock I spent today trying to work around.

Essentially, status view output is not shown while the code invoked by the widgets we're using is processing. That is to say, if the action of the keypress attempts to display a status

[2022-06-16 21:46] dankox commented on #122
No problem at all, just happend to be around so happy to help ;)

This is quite straight forward in `gocui`, as you observed the user functions (executed by `gui.Update()`) are executed sequentially in main `gocui` loop described above (step 2). That's the reason it's hanging.

You shouldn't really have a logic in those functions, and rather use them only to update the UI.
Your logic should go int

[2022-06-16 22:52] dankox commented on #121
Oh I see what you mean. Yeah, that's a problem.
The first one is actually a bug. It should move to that location, but because it's updating the coordinates directly and not using `MoveCursor` it doesn't update view origin correctly.

The second one is a bit tricky though. I've created a quick fix for now, which you can test by getting `gocui` from here:
https://github.com/dankox/gocui/tree/fix/mov

[2022-06-20 20:36] #121 closed, assigned to nobody

[2022-07-03 00:48] gethiox commented on #30
This would be really useful, for now it's unusable for logging purpose, especially when application is supposed to run for a longer time.
My temporary solution is to use fixed-sized buffer outside of the view, and overwriting the view with my data which effectively prevents internal buffer from growing.

Simplified example:
[code]
Note: it requires additional communication when new messages are av

[2022-07-03 07:49] dankox commented on #30
This is an old issue which I guess got forgotten, so I just want to clarify what is requested.

We would want something like `View.MaxLines` field, which would specify what is the maximum amount of lines available for a `View` and if new lines would be added at the end, lines from the beginning would be removed.

However, what should happen when lines would be added to the beginning or middle and

[2022-07-04 20:20] DiscoRiver opened #124 "Processing input from a view"
Hey! First of all thanks for the commitment to this project.

I'm running into some bother figuring out from the API how I'm supposed to process user input. I have an editable view, which I can type into, but can't figure out how to then read that into my program.

Any help would be appreciated!

Thanks

[2022-07-04 21:14] DiscoRiver commented on #124
NVM, I was using view.Buffer() incorrectly and missed it.

[2022-07-04 21:14] #124 closed, assigned to nobody

[2022-07-20 21:22] kamushadenes commented on #50
Hello, any updates on that? I noticed this bug when testing zerolog.ConsoleWriter but inside and outside a gocui frame.

[2022-07-20 21:23] kamushadenes commented on #50
I'm talking about this:

![Screen Shot 2022-07-20 at 18 23 32](https://user-images.githubusercontent.com/242529/180084717-7ba9eb19-d6ee-47fe-86c8-57c54fa4e62b.png)
![Screen Shot 2022-07-20 at 18 23 44](https://user-images.githubusercontent.com/242529/180084729-e63e1b53-2f19-46fe-a541-8731ab94aef2.png)

[2022-07-22 03:15] DiscoRiver opened #125 "Adding Omnivore to projects using Gocui"
Hey, would it be possible to add my project Omnivore to the listed projects using Gocui?

https://github.com/DiscoRiver/omnivore

Don't know if there are any requirements, but would love to have be part of the Gocui project.

[2022-07-24 20:52] mjarkk commented on #125
You're welkom to add it to the list if you open a PR for it :)

[2022-07-24 20:52] #125 closed, assigned to nobody